/* -------  General Styles ------- */

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
	background-image:url(images/backgrounds/subtle-white-background.jpg);
}

header {
	height: 140px;
	background-color: #a2aece;
	}

.logo {
  font-family: 'Montserrat', serif;
  font-weight: 650 ;
  font-size: 72px;
  color: #e0f7ca;
  text-align: center;
  letter-spacing: -3;
  margin: 0;
  padding: 20px 0 0 0;
}

header h2 {
	font-family: 'Montserrat', serif;
	color: #e0f7ca;
	margin: 0px;
	font-size: 18px;
	text-align: center;
}

footer {
	background-color: #a2aece;
	}

section {
	padding: 0 25%;
  margin: 80px 0;
}

/* -------  Type ------- */

h1, h2, h3 {
  font-family: 'Montserrat Alternates', sans-serif;
	color: #352224;
  text-align: center;
  font-weight: 500;
}

h1 { font-size: 28px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }

p, li {
 font-family: 'Montserrat', sans-serif;
 line-height: 1.5em;
 margin-bottom: 0;
}

a {
	font-weight: 700;
	text-decoration: none;	
}
a:link { color: #81916e; }
a:visited { color: #81916e; }
a:hover { color: #352224; }
a:active { color: #352224; }
a:hover {
	text-decoration: underline;	
}

em {
  font-weight: bold;
  font-style: normal;
}

footer p {
	color: #fff;	
	text-align: center;
  padding: 30px;
  margin: 0;
}

/* -------  Elements ------- */

img, iframe { 
  width: 100%;	
  border-radius: 10px;
  border: 3px solid #D66B7C;
} 

/* -------  Modifier styles ------- */

.border-top {
  padding-top: 80px;
  border-top: 2px solid #352224;
}